<nav
  class="navbar navbar-expand-lg bg-body-tertiary navbar bg-primary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <img
      class="logo"
      src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500/nba.png&w=288&h=288&transparent=true"
      alt="NBA"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="d-flex navbar-nav navUl">
        <li class="nav-item">
          <a
            class="btn btn-outline-light btn-sm me-2"
            aria-current="page"
            href="/"
          >Home Page</a>
        </li>
        <li class="nav-item">
          <a
            class="btn btn-outline-light btn-sm me-2"
            aria-current="page"
            href="/signup"
          >Sign up</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light btn-sm me-2" href="/login">Log In</a>
        </li>
        <li class="nav-item">
          <a
            href="/allCollection"
            class="btn btn-outline-light btn-sm logout me-2"
          >All collection</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="Goat d-flex flex-row">

  <div>
    <img
      class="LBJ"
      src="/images/Curry-1640731-removebg-preview.png"
      alt=""
    />
  </div>
  <div id="form" class="signupForm">
    <div class="containe">
      <div class="brand-title"><span style="color:blue">N</span>B<span style="color:red">A</span></div>
      <div class="inputs">
        <form action="/signup" method="post">
          <label class="labelSignup" name="username">Username</label>
          <input class="inputSignup" type="text" name="username" placeholder="Norberto"/>
          <label class="labelSignup" name="email">Email</label>
          <input class="inputSignup" type="email" name="email" placeholder="norberto@norberto.com" />
          <label class="labelSignup" name="password">Password</label>
          <input class="inputSignup" type="password" name="password" placeholder="Min 6 charaters long" />
          <label class="labelSignup" name="goat">G.O.A.T</label>
          <input class="inputSignup" type="goat" name="goat" placeholder="Lebron James or Michael Jordan" />
          <button class="buttonSignup"type="submit">Signup</button>
        </form>
      </div>
      
    </div>
 
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </div>
  <div>
    <img
      class="MJ"
      src="/images/Lebron-James-Lakers-PNG-HD-removebg-preview.png"
      alt=""
    />
  </div>
 

</section>