

<nav
  class="navbar navbar-expand-lg bg-body-tertiary navbar bg-primary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <img
      class="logo"
      src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500/nba.png&w=288&h=288&transparent=true"
      alt="NBA"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="d-flex navbar-nav navUl">
        <li class="nav-item">
          <a class="btn btn-outline-light btn-sm me-2" aria-current="page" href="/">Home Page</a>
        </li>
        <li class="nav-item ">
          <a class="btn btn-outline-light btn-sm me-2" aria-current="page" href="/signup">Sign up</a>
        </li>
        <li class="nav-item ">
          <a class="btn btn-outline-light btn-sm me-2" href="/login">Log In</a>
        </li>
        {{!-- <li class="nav-item align-items-center">
          <form action="/logout" method="post">
            <button type="submit">Log Out</button>
          </form>
        </li> --}}
        <li class="nav-item">
          <a href="/allCollection" class="btn btn-outline-light btn-sm logout me-2">All collection</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body class="Home">
  <article class="Body">
     <div class="deconstructed">
  Dream Team,
  <div>Dream Team</div>
  <div>Dream Team</div>
  <div>Dream Team</div>
  <div>Dream Team</div>
</div>
  </article>
 
  <section class="russel">
<div class="Container">
  <div class="carousel">
    <div class="carousel__face"><span></span></div>
    <div class="carousel__face"><span></span></div>
    <div class="carousel__face"><span style="font-size:large;color:white; font-family:'Times New Roman', Times, serif">
      “Never say never, because limits, like fears, are often just an illusion.” <span style="color: red; font-size: large;"><hr>Michael Jordan</hr></span> 

    </span></div>
    <div class="carousel__face"><span></span></div>
    <div class="carousel__face"><span></span></div>
    <div class="carousel__face"><span style="font-size:large;color:white; font-family:'Times New Roman', Times, serif">“A basketball team is like the five fingers on your hand. If you can get them all together, you have a fist. That’s how I want you to play.”<span style="color: red; font-size: large;"><span style="color:blue;font-size:large"><hr> Mike Krzyzewski </hr></span></span></div>
    <div class="carousel__face"></div>
    <div class="carousel__face"><span></span></div>
    <div class="carousel__face"><span><span style="font-size:large;color:white; font-family:'Times New Roman', Times, serif">“It’s not about the number of hours you practice, it’s about the number of hours your mind is present during the practice”<span style="color:yellow;font-size:large"><hr>Kobe Bryant </hr></span></span></span></div>
  </div>
</div>
</section>
</body>


  


