<nav
  class="navbar navbar-expand-lg bg-body-tertiary navbar bg-primary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <img
      class="logo"
      src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500/nba.png&w=288&h=288&transparent=true"
      alt="NBA"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="d-flex navbar-nav navUl">
        <li class="nav-item">
          <a
            class="btn btn-outline-light btn-sm me-2"
            aria-current="page"
            href="/"
          >Home Page</a>
        </li>
        <li class="nav-item">
          <a
            class="btn btn-outline-light btn-sm me-2"
            aria-current="page"
            href="/signup"
          >Sign up</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-light btn-sm me-2" href="/login">Log In</a>
        </li>
        {{! <li class="nav-item align-items-center">
          <form action="/logout" method="post">
            <button type="submit">Log Out</button>
          </form>
        </li> }}
        <li class="nav-item">
          <a
            href="/allCollection"
            class="btn btn-outline-light btn-sm logout me-2"
          >All collection</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="Home">
  <article class="Body">
     <div class="deconstructed">
  Dream Team,
  <div>Dream Team</div>
  <div>Dream Team</div>
  <div>Dream Team</div>
  <div>Dream Team</div>
</div>
  </article>
 
  <section class="russel">
    <div class="Container">
      <div class="carousel">
        <div class="carousel__face"><span></span></div>
        <div class="carousel__face"><span></span></div>
        <div class="carousel__face textDiv"><span
            style="font-size:large; color:white; font-family:'Times New Roman', Times, serif"
          >
            “Never say never, because limits, like fears, are often just an
            illusion.”</span>
          <div><span style="color: red; font-size: large;"><hr
                class="hrIndex"
              />Michael Jordan</span>
          </div>
        </div>
        <div class="carousel__face"></div>
        <div class="carousel__face"></div>
        <div class="carousel__face textDiv">
          <span
            style="font-size:large;color:white; font-family:'Times New Roman', Times, serif"
          >“A basketball team is like the five fingers on your hand. If you can
            get them all together, you have a fist. That’s how I want you to
            play.”
          </span>
          <div>
            <span style="color:blue;font-size:large">
              <hr class="hrIndex" />
              Mike Krzyzewski
            </span>
          </div>
        </div>
        <div class="carousel__face"></div>
        <div class="carousel__face"></div>
        <div class="carousel__face textDiv">
          <span
            style="font-size:large; color:white; font-family:'Times New Roman', Times, serif"
          >“It’s not about the number of hours you practice, it’s about the
            number of hours your mind is present during the practice”
          </span>
          <div>
            <span style="color:yellow;font-size:large">
              <hr class="hrIndex" />Kobe Bryant
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="badjoras">
<div class="perspective-text LOL" style="margin-right: 300px; margin-bottom: 50px;">
      <div class="perspective-line">
        <p></p>
        <p>Welcome</p>
      </div>
      <div class="perspective-line">
        <p>Welcome</p>
        <p>To</p>
      </div>
      <div class="perspective-line">
        <p>To</p>
        <p>The</p>
      </div>
      <div class="perspective-line">
        <p>The</p>
        <p>Dream</p>
      </div>
      <div class="perspective-line">
        <p>Dream</p>
        <p></p>
      </div>
    </div>
 </section>

<article class="nbaReference">

  <div class= "d-flex justify-content-space-between banana "  >
  <div style="margin-right: 50px;"> 
  <span style="color: whitesmoke; font-size:25px">
  <span class="capital">W</span>elcome to the Dream, a website were you can create your ultimate basketball team.
  Here you can make a start line-up compressed of the best players that ever played the game, from 
  the older generations like Michael Jordan, Kareem Abdull-Jabar, Bill Russel to the greatest one of today's generation like 
  Lebron James, Stephen Curry, Kevin Durant and we dind´t forget the superstars that will carry sport into the future.
  Who are they? Explore the Dream to find out, discover their names and much more! 
  </span>
  </div> 
   <div class="textArea">
    <span style="color: whitesmoke; font-size:25px">
    Now you may be asking yourself, where all these hoopers come from? They come from the land of the giants,
    where "the amazing happens" the National Basketball Association better Know as NBA. NBA is a  professional basketball league comprised of 30 teams across North America (USA and Canada).
    Every year people from all around the world are selected to start their "american dream" in a process that is called draft, so if you like basketball and got some skills, why don't you try your luck, maybe you can be the next "King James". If your not that adventuros you can stick by watching games on tv and exploring the Dream Team.
   </span> 
   </div> 
    </div>
</article>

<div class="showPlayers">
  <div class="playerBox">
    <img src="https://assets.dmagstatic.com/wp-content/uploads/2021/10/USATSI_13866473-scaled.jpg">
    <span>Luka Doncic</span>
  </div>
  <div class="playerBox">
    <img src="https://www.drworkout.fitness/wp-content/uploads/2021/02/Giannis-Antetokounmpo-Workout-Routine.jpg">
    <span>Giannis Antetokounmpo</span>
  </div>
  <div class="playerBox">
    <img src="https://cdn.vox-cdn.com/thumbor/EVG8yOByHwpXEbJc_p-_6FYA4wQ=/0x0:4087x2724/1200x800/filters:focal(2063x0:2715x652)/cdn.vox-cdn.com/uploads/chorus_image/image/71957430/1454299227.0.jpg">
    <span>Kevin Durant</span>
  </div>
  <div class="playerBox">
    <img src="https://static01.nyt.com/images/2022/05/02/sports/00nba-mvp-jokic/merlin_204962220_fc67854e-4ccb-4109-bf53-9421d7f5929e-mediumSquareAt3X.jpg">
    <span>Nikola Jokic</span>
  </div>
</div>
  


  </article>
</section>