{{!-- <nav
  class="navbar navbar-expand-lg bg-body-tertiary navbar bg-primary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <img
      class="logo"
      src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500/nba.png&w=288&h=288&transparent=true"
      alt="NBA"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/allCollections">All collection</a>
        </li>

      </ul>
    </div>
  </div>
</nav> --}}

<nav
  class="navbar navbar-expand-lg bg-body-tertiary navbar bg-primary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <img
      class="logo"
      src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500/nba.png&w=288&h=288&transparent=true"
      alt="NBA"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="d-flex navbar-nav navUl">
        <li class="nav-item ">
          <a class="btn btn-outline-light btn-sm me-2" aria-current="page" href="/signup">Sign up</a>
        </li>
        <li class="nav-item ">
          <a class="btn btn-outline-light btn-sm me-2" href="/login">Log In</a>
        </li>
        {{!-- <li class="nav-item align-items-center">
          <form action="/logout" method="post">
            <button type="submit">Log Out</button>
          </form>
        </li> --}}
        <li class="nav-item">
          <a href="/allCollections" class="btn btn-outline-light btn-sm logout me-2">All collection</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="Explanation">
  <div class="text">
    <article class="Site">
      <h1 class="title"> NBA cards collection</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        dolor eius possimus adipisci rerum aspernatur natus qui debitis quos!
        Quia in reiciendis, vero aliquam nisi dolorum velit laboriosam error
        magnam?</p>
    </article>
  </div>

  <div
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://neofeed.com.br/wp-content/uploads/2023/02/lebron-james-nba-recorde-696x392.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://neofeed.com.br/wp-content/uploads/2023/02/lebron-james-nba-recorde-696x392.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://neofeed.com.br/wp-content/uploads/2023/02/lebron-james-nba-recorde-696x392.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </div>
</section>


