body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: 0;
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 0;
}

nav {
  padding-top: 5px !important;
}

.logo {
  padding: 0%;
  height: 50px;
  object-fit: contain;
}

.profileImg {
  border-radius: 50%;
  width: 8.5vw;
  height: 17vh;
}

.personalInfoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  width: 22vw;
  height: 75vh;
}

.personalInfo {
  margin-top: 50px;
  padding: 0;
  list-style-type: none !important;
}
.previewStart {
  width: 22vw;
  height: 50vh;
  background-image: url("../images/brooklynCourt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.lineUpPreview {
  border-radius: 50%;
  height: 5vh;
  width: 2.5vw;
}

.order2 {
  position: absolute;
  left: 5vw;
  bottom: 10vh;
}

.hidden {
  display: none;
}
.Explanation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 0px;
}
.text {
  text-align: justify;
  width: 50vw;
  padding-top: 100px;
}
.title {
  text-align: center;
}
.Goat {
  display: flex;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );

  flex-direction: row;
}
.LBJ {
  height: 90vh;
}
.MJ {
  height: 90vh;
  padding-left: 15px;
}

#login-form {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 100px;
}

.signupForm {
  padding-top: 15px;
}
.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

.container {
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  box-shadow: 14px 14px 20px #374049, -14px -14px 20px rgb(86, 81, 81);
}

.brand-logo {
  height: 25px;
  width: 25px;
  background: url("/images/i.png");
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #667584, -7px -7px 10px rgb(169, 160, 160);
}

.brand-title {
  margin-top: 10px;
  text-align: center;
  font-weight: 900;
  font-size: 1.8rem;
  color: white;
  letter-spacing: 5px;
}

.inputs {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.labelSignup,
.inputSignup,
.buttonSignup {
  display: block;
  width: 100%;
  padding: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.inputSignup::placeholder {
  color: gray;
}

.inputSignup {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.buttonSignup {
  color: white;
  margin-top: 20px;
  background: #1da1f2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #667584, -6px -6px 6px rgb(117, 113, 113);
  transition: 0.5s;
}

.buttonSignup:hover {
  box-shadow: none;
}

#startlineupSection {
  width: 98vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #9B4636;
}

.courtLineup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vw;
    height: 100vh;
    background-image: url("../images/court.jpg");
    background-size: cover;
    /* position: absolute; */
    margin-right: 300px;
}

.pickPlayer{
    display: flex;
    flex-direction: column;
}

.round{
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.player1{
    margin-left: 90px;
    margin-top: 90px;
}
.player2{
    align-self: center;
}

.player3{
    margin-top: 500px;
}
.player4{
    align-self: center;
}

.player5{
    margin-top: 90px;
}
.playerLabel{
    margin-bottom: 20px;
}
.defaultPic{
    background-image: url("../images/defaultPic.png");
    background-size: cover;
}

.roundedImg{
  border-radius: 50%;
  width: 120px;
  height: 100px;
}
/* .ad{
    background-image: url("https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/203076.png");
    background-size: cover;
} */